.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.header img {
  position: relative;
  width: 170px;
  height: 150px;
  top: 18px;
  left: 5px;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

.header {
  background: #98FB98;
  height: 320px;
}

.vl {
  border-left: 6px solid #808080;
  height: 300px;
  position: absolute;
  left: 10%;
  margin-left: -3px;
}

.vr {
  border-right: 6px solid #808080;
  height: 300px;
  position: absolute;
  right: 20%;
  margin-right: -3px;
}

.centered-wrapper {
    position: relative;
    text-align: left;
    margin-right: 50px;
    margin-left: 50px;
    font-family: Geneva;
    line-height: 1.6;
}
.centered-wrapper:before {
    content: "";
    position: relative;
    display: inline-block;
    width: 0; height: 100%;
    vertical-align: left;
    margin-right: 50px;
    margin-left: 50px;
}
.centered-content {
    display: inline-block;
    vertical-align: left;
    margin-right: 50px;
    margin-left: 50px;
}


.choose {
  position: absolute;
  left: 5%;
  width: 300px;
  height: 50px;
}

.button{
  position: absolute;
  left: 7%;
  width: 250px;
  height: 50px;
  border-radius: 8px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.form {
  line-height: 3;
  height: 500px
}

.input {
  position: absolute;
  left: 5%;
  background-color: #98FB98;
  color: black;
  width: 350px;
  height: 40px;
  border: 1.2px solid blue;
  border-radius: 8px;
}

.heading {
  position: absolute;
  left: 5%;
  font-family: Geneva;
  font-weight: bold;
  font-size: 20px
}


.success {
  position: absolute;
  left: 10%;
  width: 200px;
  height: 170px;
  margin-top: -30px;
  visibility: hidden;
}

.failure {
  position: absolute;
  left: 10%;
  width: 200px;
  height: 170px;
  margin-top: -30px;
  visibility: hidden;
}


.download {
  position: absolute;
  left: 15%;
  width: 50px;
  height: 50px;
  margin-top: 80px;
  margin-bottom: 100px;
  visibility: hidden;
}

.upload {
  position: absolute;
  left: 10%;
  width: 230px;
  height: 170px;
  margin-top: -30px;
  visibility: hidden;
}





