.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.header img {
  position: relative;
  width: 170px;
  height: 150px;
  top: 18px;
  left: 5px;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

.header {
  background: #98FB98;
  height: 320px;
}

.vl {
  border-left: 6px solid #808080;
  height: 300px;
  position: absolute;
  left: 10%;
  margin-left: -3px;
}

.vr {
  border-right: 6px solid #808080;
  height: 300px;
  position: absolute;
  right: 20%;
  margin-right: -3px;
}

.centered-wrapper {
    position: relative;
    text-align: left;
    margin-right: 50px;
    margin-left: 50px;
    font-family: Geneva;
    line-height: 1.6;
}
.centered-wrapper:before {
    content: "";
    position: relative;
    display: inline-block;
    width: 0; height: 100%;
    vertical-align: left;
    margin-right: 50px;
    margin-left: 50px;
}
.centered-content {
    display: inline-block;
    vertical-align: left;
    margin-right: 50px;
    margin-left: 50px;
}

.choose {
  position: absolute;
  left: 5%;
  width: 300px;
  height: 50px;
}

.button{
  position: absolute;
  left: 7%;
  width: 250px;
  height: 50px;
  border-radius: 8px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.form {
  line-height: 3;
  height: 500px
}

.input {
  position: absolute;
  left: 5%;
  background-color: #98FB98;
  color: black;
  width: 350px;
  height: 40px;
  border: 1.2px solid blue;
  border-radius: 8px;
}

.heading {
  position: absolute;
  left: 5%;
  font-family: Geneva;
  font-weight: bold;
  font-size: 20px
}


.success {
  position: absolute;
  left: 10%;
  width: 200px;
  height: 170px;
  margin-top: -40px;
  visibility: hidden;
}

.failure {
  position: absolute;
  left: 10%;
  width: 200px;
  height: 170px;
  margin-top: -30px;
  visibility: hidden;
}


.download {
  position: absolute;
  left: 17%;
  width: 30px;
  height: 40px;
  margin-top: 80px;
  margin-bottom: 100px;
  visibility: hidden;
}

.upload {
  position: absolute;
  left: 10%;
  width: 230px;
  height: 170px;
  margin-top: -30px;
  display:none
}

.button_upload{
  position: absolute;
  left: 5%;
  width: 250px;
  height: 50px;
  border-radius: 8px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 30px;
}
 

.downloadQR{
  position: absolute;
  left: 8.5%;
  width: 250px;
  height: 40px;
  margin-top: 290px;
  border-radius: 8px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  visibility: hidden;
}


.successHeading {
  position: absolute;
  left: 13%;
  font-family: Geneva;
  font-weight: bold;
  font-size: 20px;
  margin-top: 35px;
  margin-top: 380px;
  visibility: hidden;
}

.success2 {
  position: absolute;
  left: 10%;
  width: 300px;
  height: 300px;
  margin-top: 100px;
  visibility: hidden;
}


.containerQR {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.centerQR {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}



.buttonQRCODE{
  width: 250px;
  height: 50px;
  border-radius: 8px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: -50px;
}


.chooseQR {
  left: 5%;
  width: 200px;
  height: 70px;
  text-align: center;
  margin-top: 155px;
}

.compare{
  position: absolute;
  left: 5%;
  width: 250px;
  height: 50px;
  border-radius: 8px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 30px;
}
 

.box {
  left: 5%;
  position: absolute;
  margin-top: 5px;
  margin-bottom:  15px;
  width: 210px;
  height: 210px;
  background: #edeeee;
  background-size: 100% 100%;
  border-radius: 25px;
  border: 4px solid silver;
  text-align: center;
  padding: 20px 0;
} 

.capture
{
  width: 100px;
  left: 7px;
  margin-top: 300px;
  margin-left: -80px;
}

.col-sm-1 {
  width: 100%;
  margin-top:  2px;
  left: 7%;
}

.col-sm-2 {
  width: 33.33333333%
}

.labelscore{
  margin-top: 50px;
}




